* {
    box-sizing: border-box;
  }
  
  body {
    padding-bottom: 24px;
    display: flex;
    justify-content: center;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding-left: 0;
  }
  
  .gallery-item {
    transition: transform 0.5s;
    list-style: none;
  }
  
  .gallery-item:hover {
    transform: scale(1.03);
  }